<app-heroblock></app-heroblock>
<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.05);text-align:center;height:43px;padding:10px;margin-bottom:20px"> 
    <div class="row">
      <a class="text-decoration-none text-reset fw-bold" style="color: black;" id="topBook" aria-label="Top book">Our Top Selling Books</a>
    
    </div>
</div>
<app-book-carousel></app-book-carousel>

<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.05);text-align:center;height:43px;padding:10px;margin-bottom:43px;margin-top: 20px;"> 
    <div class="row">
      <a class="text-decoration-none text-reset fw-bold" style="color: black;" id="happycustomer" aria-label="Happy Customer">Our Happy customers</a>
    
    </div>
</div>
<!----4 testimonals in home page-->
<div class="container-fluid" style="margin-bottom: 34px;">
<div class="card-deck" style="margin-right: 130px;margin-left: 130px;">
    <div style="background-color: wheat;" class="card ">
      <div class="card-body text-center">
        <p class="card-text">Fabulous collection of world class books. Thank you for your wonderful service. I enjoy all the readings thorougly</p>
        <h6 class="card-title">- Anonymous1</h6>  
    </div>
    </div>
    <div style="background-color:bisque" class="card">
      <div class="card-body text-center">
        <p class="card-text">helped me develop the habit of reading. I am happy to discver this platform that helped grow with wisdom and knowledge. Thank you BookStore. I appreciate your services.</p>
        <h6 class="card-title">- Anonymous2</h6>
      </div>
    </div>
    <div style="background-color:rgb(252, 198, 177)" class="card">
      <div class="card-body text-center">
        <p class="card-text">Simply awesome and user friendly site with massive collection of books in all genres. Loved reading many good books and I am a happy customer</p>
        <h6 class="card-title">- Anonymous3</h6>
      </div>
    </div>
    
  </div>
</div>
  

