<table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let wish of wishlist">
        <td>{{wish.Book.Title}}</td>
        <td>{{wish.Book.Author}}</td>
        <td>{{wish.Book.Price}}</td>
        <td><button class="btn btn-primary" (click)="addBookToCart(wish.Book.BookId, wish.WId)">Add to Cart</button></td>
        <td><button class="btn btn-secondary" (click)="removeBtnClick(wish.WId)">Remove</button></td>
      </tr>
    </tbody>
  
  </table>