<div class="container" style="padding: 10%; background-color: gainsboro;">
    <form class="well form-horizontal" [formGroup]="bookForm" (ngSubmit)="editBook()">
        <div class="form-group">
            <label for="Title">Title</label>
            <input class="form-control" formControlName="Title">
            <span class="text-danger"
                *ngIf="(bookForm.controls['Title'].touched || submitted) && bookForm.controls['Title'].errors">
                Length exceeds the limit
            </span>
        </div>
        <div class="form-group">
            <label for="Title">Author</label>
            <input class="form-control" formControlName="Author">
            <span class="text-danger"
                *ngIf="(bookForm.controls['Author'].touched || submitted) && bookForm.controls['Author'].errors?.required">
                Please enter Author
            </span>
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            <input type='number' class="form-control" formControlName="Price" min="0">
            <span class="text-danger"
                *ngIf="(bookForm.controls['Price'].touched || submitted) && bookForm.controls['Price'].errors">
                Enter a valid number!
            </span>
        </div>
        <div class="form-group">
            <label for="CId">Category</label>
            <select formControlName="CId" class="form-control">
                <option selected>{{book.Category['CName']}}</option>
                <option *ngFor="let cat of categories" [value]="cat.CategoryId">{{cat.CName}}</option>
            </select>
            <span class="text-danger"
                *ngIf="(bookForm.controls['CId'].touched || submitted) && bookForm.controls['CId'].errors?.required">
                Please choose a category
            </span>
        </div>
        <div class="form-group">
            <label for="Title">ISBN</label>
            <input class="form-control" formControlName="ISBN">
            <span class="text-danger"
                *ngIf="(bookForm.controls['ISBN'].touched || submitted) && bookForm.controls['ISBN'].errors">
                Exceeded limit
            </span>
        </div>
        <div class="form-group">
            <label for="Title">Year of publish</label>
            <input class="form-control" formControlName="BookYear">
            <span class="text-danger"
                *ngIf="(bookForm.controls['BookYear'].touched || submitted) && bookForm.controls['BookYear'].errors">
                Enter a valid year
            </span>
        </div>
        <div class="form-group">
            <label>Book Rating</label>
            <input class="form-control" formControlName="BRating" readonly>
        </div>
        <div class="form-group">
            <label>Ranking</label>
            <input class="form-control" readonly formControlName="BPosition">
        </div>
        <div class="form-group">
            <label>Availability</label>
            <input class="form-control" formControlName="Quantity">
            <span class="text-danger"
                *ngIf="(bookForm.controls['Quantity'].touched || submitted) && bookForm.controls['Quantity'].errors">
                Enter a valid number..!
            </span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" formControlName="BDescri"></textarea>
            <span class="text-danger"
                *ngIf="(bookForm.controls['BDescri'].touched || submitted) && bookForm.controls['BDescri'].errors">
                Exceeded the limit
            </span>
        </div>
        <div class="form-group">
            <label for="website">Condition</label>
            <select formControlName="BCondition" class="form-control">
                <option>Used</option>
                <option>New</option>
            </select>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <textarea class="form-control" formControlName="BTags"></textarea>
            <span class="text-danger"
                *ngIf="(bookForm.controls['BTags'].touched || submitted) && bookForm.controls['BTags'].errors">
                Exceeded the limit
            </span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid">Save Changes</button>
    </form>
    <br>
    <button class="btn btn-primary" routerLink="/book"> Go Back </button>
</div>