<div class="container-fluid col-xxl-8 " style="padding: 15px;">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://images.unsplash.com/photo-1473755504818-b72b6dfdc226?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Your Ultimate Reading Solution</h1>
        <p class="lead">We bring the world's largest book store for our valuable customers, to grow with the wisdom of words and visions</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-lg px-4" style="background-color: cornsilk;border-color: darksalmon;">Explore</button>
        </div>
      </div>
    </div>
  </div>
