<p>cart works!</p>
<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartItem of cart.CartProducts; let i = index">
      <td>{{cartItem.Book.Title}}</td>
      <td>{{cartItem.Book.Author}}</td>
      <td>
        <input type="number" [(ngModel)]="cartItem.Quantity" (change)="onChange(i)">
      </td>
      <td>{{cartItem.Quantity * cartItem.Book.Price}}</td>
      <td><button class="btn btn-secondary" (click)="removeBtnClick(cartItem.CPId)">Remove</button></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Total Cart Price</td>
      <td>₹ {{getCartprice()}}</td>
      <td></td>
    </tr>
  </tbody>

</table>

<label>Coupon</label>
<input type="text" [(ngModel)]="couponInput">
<Button (click)="couponBtnClick()">Apply Coupon</Button>
<p [ngStyle]="couponStyle">{{couponInfo}}</p>

<br>
<p>
  <span>Order Price: </span>
  <span>₹ {{orderPrice}}</span>
  <span style="color: green;" *ngIf="discount>0"> ₹ {{discount}} OFF!</span>
</p>
<br>
<br>

<button class="btn btn-primary" (click)="proceedToCheckout(container)" [disabled]="checkingOut">Proceed to
  Checkout</button>

<br>
<div #container>

  <!-- <div> -->
  <div *ngIf="checkingOut">
    <div class="container row mt-3">

      <div class="col-4" *ngFor="let address of addresses; let i = index">
        <div class="card mx-1 my-2">
          <!-- <div class="card mx-1 my-2"  [ngClass]="{'text-white bg-primary': address.Selected}"> -->
          <div class="card-header text-white bg-dark" *ngIf="selectedAddress == address.AId">Delivering here.</div>
          <div class="card-body">
            <h5 class="card-title">{{address.Name}}</h5>
            <h6 class="card-subtitle mb-2">{{address.Building}}</h6>
            <p class="card-text">
              {{address.Street}}
              <br>
              {{address.City}}
              <br>
              {{address.Pincode}}
              <br>
              {{address.PhoneNo}}
              <br>
            </p>
            <div class="row">
              <button class="btn btn-secondary" (click)="selectAddress(address.AId)"
                [disabled]="selectedAddress == address.AId">Deliver to this address</button>
            </div>
            <div class="row mt-1">
              <button class="btn btn-secondary col-5" (click)="editAddress(address.AId)">Edit</button>
              <div class="col-2"></div>
              <button class="btn btn-secondary col-5" (click)="deleteAddress(address.AId)">Delete</button>
            </div>
          </div>
        </div>

      </div>


    </div>
    <br>
    <button class="btn btn-primary" (click)="onCheckoutClick()">Checkout Cart</button>
  </div>
</div>